<!--
  Generated template for the SearchrestaurantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cari Restaurant</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-item>
    <ion-label fixed>Kata Kunci</ion-label>
    <ion-input type="text" value="" [(ngModel)]="searchData.q"></ion-input>
  </ion-item>
		<button (click)="goSearch()" ion-button mode="ios" round>Cari</button>
<div *ngIf="restaurants">
 <ion-card *ngFor="let restaurant of restaurants" (click)="someFunction(restaurant)"> 
 <ion-item>
 <h2 text-wrap ><b> {{ restaurant.restaurant.name }} </b></h2>
 </ion-item>
 <div class="wrapper">
 <img src="{{restaurant.restaurant.thumb }}">
   <ion-fab right top>
    <button ion-fab>
      <ion-icon name="star"></ion-icon> {{ restaurant.restaurant.user_rating.aggregate_rating }}
    </button>
  </ion-fab>
</div>
 <ion-card-content>
<ion-icon name="pin"> {{ restaurant.restaurant.location.address }} {{ restaurant.restaurant.id }}</ion-icon>

 </ion-card-content>
 <ion-row>
 <ion-col>
 </ion-col>
 <ion-col>
 <a ion-button icon-left clear small (click)="someFunction(restaurant)">
 <ion-icon name="open"></ion-icon>
 <div>Detail Restaurant</div>
 </a>
 </ion-col>

 <ion-col center text-center>
 </ion-col>
 </ion-row>
 </ion-card>
</div>
</ion-content>
